a{
  text-decoration: none;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  height: 20%;
  width: 100%;
  background: url(../img/menu2.jpg);
}
.izq{
  float: left;
  object-fit: cover;
  width: 327px;
  height: 100%;
}
.barra{
  float: right;
}
main{
  position: absolute;
  height: 506px;
  width: 73%;
  top: 20%;
  left: 0;
  background: url(../img/main.jpg);
}
.casa{
	float: left;
	margin-top: 100px;
	margin-left: 40px;
}
.casa img{
  width: 382px;
  height: 288px;
  border-radius: 10px;
}
.caracteristicas{
	margin-left: 400px;
	margin-top: 100px;
	background-color: #666666;
	width: 360px;
	height: 288px;
  border-radius: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
aside {
  position: absolute;
  height: 506px;
  width: 27%;
  right: 0;
  top: 20%;
  background-color: #272727;
}
footer{  
  background-color: #000000;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  position: absolute;
  display:flex;
}
footer p{
  color: white;
  float: left;
}
.box{
  width: 250px;
  height: 219px;
  margin-top: 10px;
  margin-left: 5px;
  background-color: #666666;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #666666;
}
.row{
  width: 180px;
  display: flex;
  position: absolute;
  right: 5%;
}
.icono{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}