a{
  text-decoration: none;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  height: 20%;
  width: 100%;
  background: url(../img/menu2.jpg);
}
.izq{
  float: left;
  object-fit: cover;
  width: 327px;
  height: 100%;
}
.barra{
  float: right;
}
main{
  grid-template-rows: 50%; 
  display: grid; 
  height: 80%;
  position: absolute;
  height: 506px;
  width: 73%;
  top: 20%;
  left: 0;
  background: url(../img/main.jpg);
}
.separacion{
  column-count: 2;
  justify-content: space-evenly;
  display: flex;
  float: inline-start;
}
aside {
  position: absolute;
  height: 506px;
  width: 27%;
  right: 0;
  top: 20%;
  background-color: #272727;
}
footer{  
  background-color: #000000;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  position: absolute;
  display:flex;
}
footer p{
  color: white;
  float: left;
}
main img{
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 80%;
}
.row{
  width: 180px;
  display: flex;
  position: absolute;
  right: 5%;
}
.box{
  width: 300px;
  height: 215px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #666666;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  border-color: #666666;
  position: relative;
}
.icono{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}